<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCLKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75FD4B751DF177AD004A177C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FD4B8E1DF177AD004A177C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FD4B991DF177AD004A177C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
